body{
	margin-top: 2%;
	text-align: center;
	font-family: arial;
}

.photo{
	height: 400px;
	width: 400px;
	border-radius: 2%;
}

.social a {
	font-size: 25px;
	margin: 0 30px;
	color: #000;
	text-decoration: none;
}

.github :hover{
	color: #A0A0A0;
}

.linkedin :hover{
	color: #2977c9;
}

.twitter :hover{
	color: #1DA1F2;
}

.instagram :hover{
	color: #8a3ab9;
}
