body{
	margin-top: 7%;
	text-align: center;
	font-family: arial;
}

.moto-desc{
	font-size: 1.7em;
}

.social a {
	font-size: 25px;
	margin: 0 30px;
	color: #000;
	text-decoration: none;
}

.github :hover{
	color: #A0A0A0;
}

.linkedin :hover{
	color: #2977c9;
}

.twitter :hover{
	color: #1DA1F2;
}

.instagram :hover{
	color: #8a3ab9;
}

.pasumai-valasai{
	color: green;
	font-size: 300%;
}

.tenkasi-marathon-icon{
	margin-top: 8%;
	width: 80%;
}